<!DOCTYPE html>
<html>
<head th:replace="/plantilla :: head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Home</title>
</head>
<header th:replace="/plantilla :: header"> </header>
<body>

<div class="container">
		<div class="card bg-light">
			<div class="card-header bg-dark text-white" th:text="${titulo}"></div>
				<div class="card-body"></div>

				<form th:action="@{/usuarios/save}" th:object="${usuario}" method="post">
					<div class="form-group">
						<input type="hidden" th:field="*{id_user}">
						<label class="col-md-2" for="nombre">Digite nombre</label> <input
							type="text" th:field="*{nombre}" class="form-control form-control-sm col-md-6"
							id="nombre" placeholder="Nombre en mayúscula"> <small></small>							
					</div>
					<div class="form-group">
						<label class="col-md-2" for="clave">Digite el correo</label> <input
							type="email" th:field="*{correo}" class="form-control form-control-sm col-md-6"
							id="correo" placeholder="Correo institucional de ECSI"> <small></small>
					</div>
					
					<div class="form-group">
						<label class="col-md-2" for="clave">Digite la clave</label> <input
							type="password" th:field="*{password}" class="form-control form-control-sm col-md-6"
							id="clave" placeholder="Clave numérica de 4 dígitos"> <small></small>
					</div>
					<div class="card-footer">
						<input type="submit" class="btn btn-primary" value="Guardar"/>		
					
					</div>					
				</form>
			</div>
		</div>
</body>
<footer th:replace="~{/plantilla :: footer}"></footer>
</html>