<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio plataforma de proveedores ECSI SAS</title>
	<!-- Libraries de estilos -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
	
	<!-- Estilos de Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
    <!-- plantilla de estilos generales -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!-- Inicio del carrusel -->
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carrusel1.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">El mejor equipo solo para los mejores proyectos</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Contamos con equipos de última tecnología </p>
                                <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Leer más</a>
                                <a href="contact.html" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Cotice gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carrusel2.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Construyendo el futuro</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Tenemos la capacidad para enfretarnos a retos importantes</p>
                                <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Leer más</a>
                                <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Cotice gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/carrusel3.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Contamos con el mejor personal capacitado </h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">para alcanzar con todos los objetivos y completa satisfacción de nuestros clientes</p>
                                <a href="" class="btn btn-primary rounded-pill py-md-3 px-md-5 me-3 animated slideInLeft">Leeer más</a>
                                <a href="" class="btn btn-light rounded-pill py-md-3 px-md-5 animated slideInRight">Cotice gratis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del carrusel -->

</body>
</html>