<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio plataforma de proveedores ECSI SAS</title>
	
	<!-- Librerias de estilos -->
	<link rel="stylesheet" th:href="@{/lib/animate/animate.min.css}">
	<link rel="stylesheet" th:href="@{/lib/owlcarousel/owlcarousel/assets/owl.carousel.min.css}" >
	<link rel="stylesheet" th:href="@{/lib/lightbox/lightbox/css/lightbox.min.css}" >
	    
	<!-- Estilos de Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <!-- plantilla de estilos generales -->
    <link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>

<!-- Inicio del carrusel -->

    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="images/env.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">El mejor equipo solo para los mejores proyectos</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Contamos con equipos de última tecnología </p>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="images/imaPl4.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Construyendo el futuro</h1>
                                <p class="fs-5 text-white mb-4 pb-2">Tenemos la capacidad para enfretarnos a retos importantes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="images/img1.jpg" alt="">
                <div class="carousel-inner">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h1 class="display-3 text-white animated slideInDown mb-4">Contamos con el mejor personal capacitado </h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">para alcanzar con todos los objetivos y completa satisfacción de nuestros clientes</p>                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin del carrusel -->
    
    <!-- Inicio del instructivo -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-primary mb-3 mx-auto" style="width: 60px; height: 2px;"></div>
                <h1 class="display-5 mb-5">Instructivo para el uso de la plataforma</h1>
            </div>            
            <div class="row g-4 portfolio-container">
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">1. Creación de usuarios</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <h5 class="lh-base mb-3">
                            	<ul>
                            		<li>Ingresar con usuario administrador</li>
                            		<li>Asignar credenciales al nuevo usuario</li>
                            		<li>Corroborar que el usuario posea correo institucional</li>
                            		<li>Asignar rol al usuario</li>                            	
                            	</ul>
                            </h5>                          
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">2. Visualización de lista de proveedores</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-3">
                            <p class="text-primary mb-2">Alquiler de maquinaria</p>
                            <h5 class="lh-base mb-3">Servicio para la construcción y minería,                              
                            <ul>
                                <li>Excavadoras</li>
                                <li>Motoniveladoras</li>
                                <li>Cargadoras frontales</li>
                                <li>Rodillos compactadores</li>
                                <li>Retroexcavadoras</li>
                                <li>Minicargadores</li>
                                <li>Tracto camabaja</li>
                                <li>Volquetes de 15 y 17 m3</li>
                            </u>
                            </h5>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">Mantenimiento de maquinaria</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <p class="text-primary mb-2">Mantenimiento de maquinaria</p>
                            <h5 class="lh-base b-2">Mantenimiento de maquinaria pesada para la construcción y minería.Mantenimiento correctivo y preventivo, evaluaciones y análisis de falla,montaje y desmontaje,reemplazo de piezas, reconstrucción de estructura,planchado y pintura</h5>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">Movimiento de tierra y enrocados</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <p class="text-primary mb-2">Movimiento de tierra y enrocados</p>
                            <h5 class="lh-base mb-3">Movimiento de tierras para la construcción y mineria, además de enrocados, protecciones ribereñas y encausamientos.</h5>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">Demolición y desmontaje</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <p class="text-primary mb-2">Demolición y desmontaje</p>
                            <h5 class="lh-base mb-3">                               -Democilión de infraestructura de concreto.<br>
                            -Desmontaje de estructuras metálicas.  </h5>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                    <div class="portfolio-inner">
                        <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                        <div class="text-center p-4">
                            <p class="text-primary mb-2">Fabricaciones hidraúlicas y neumáticas</p>
                            <h5 class="lh-base mb-0"></h5>
                        </div>
                        <div class="portfolio-text text-center bg-white p-4">
                            <p class="text-primary mb-2"></p>
                            <h5 class="lh-base mb-3">Fabricación de sistemas hidraúlicos para maquinaria de construcción e industrial</h5>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href="img/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-primary rounded-circle mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->
    <!-- Archivos js -->
	<script src="lib/owlcarousel/owl.carousel.min.js"></script>
</body>
</html>