<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantilla :: head">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Listado</title>
</head>
<header th:replace="/plantilla :: header"> </header>
<body>
	<div class="container">
		<h1 th:text="${titulo}" class="text-center"></h1>
	</div>	
	<div>
		<form action="" th:action="@{/provReembolsos/buscar}" method="get">			
				<!-- ******** Botón de búsqueda ********* -->
			<div class="row">
				<div class="input-group mb-3 col-lg-4 col-md-4">
				<i class="bi bi-search"></i>
					<button class="btn btn-outline-primary" type="submit" 
						id="button-addon1" th:text="'Buscar por razón'">
												
					</button>
					<input type="text" class="form-control"
						placeholder="Buscar por nombre" name="busqueda">
				</div>
			</div>
		</form>

	</div>
	<table class="table">
			<thead class="thead-dark text-center">
				<tr>
					<th scope="col">NIT</th>
					<th scope="col">Código ECSI</th>
					<th scope="col">Razón social</th>
					<th scope="col">Dirección</th>
					<th scope="col">Teléfono</th>
					<th scope="col">Código mcpio</th>
					<th scope="col">Código de depto</th>
					<th scope="col">Correo</th>
					<th scope="col">CIIU</th>
					<th scope="col">Tipo Prov</th>
					<th scope="col">Fecha creación</th>					
					<th scope="col">Ver documentación</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="preem:${proveedores}">
					<td th:text="${preem.nit}"></td>
					<td th:text="${preem.cod_ecsi}"></td>
					<td th:text="${preem.razon_social}"></td>
					<td th:text="${preem.direccion}"></td>
					<td th:text="${preem.telefono}"></td>
					<td th:text="${preem.cod_mun}"></td>
					<td th:text="${preem.cod_depto}"></td>
					<td th:text="${preem.correo}"></td>
					<td th:text="${preem.actividad}"></td>
					<td th:text="${preem.tipo_prov}"></td>
					<td th:text="${preem.fecha_creacion}"></td>
					<td><a class="btn btn-success btn-sm" th:text="'Ver documentos'"
						title="Ver documentos"
						th:href="@{/provReembolsos/edit/} + ${preem.id}"
						onclick="return confirm('No tiene privilegios para ver los documentos')">
					</a></td>
				</tr>
			</tbody>
		</table>
</body>
<footer th:replace="/plantilla :: footer "> </footer>
</html>