<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>


	<!-- Footer -->
	<footer th:fragment="footer" class="bg-dark text-white text-center">
		<div class="container">
			<p>Copyright Mitsukai &copy; 2025</p>
		</div>
		
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>		
	</footer>
</body>
</html>